table{border-collapse:collapse;width:100%}th,td{white-space:nowrap;vertical-align:middle;text-overflow:ellipsis;max-width:10em;overflow:hidden}th{padding:0 .5em 1em 0;line-height:15px}td{padding:0 .5em 0 0;line-height:1.5em}
